<div id="_yDrawer">
  <div id="_sidebar" class="sidebar">
   <div class="sidebar-bg" style="background-color: rgb(168, 86, 65); background-image: url(https://lh3.googleusercontent.com/Q7vefzKt97QQh5F32-btZY4Z_bvfVJJcRVmy-7fowjGfH855P0_4vEIQbKRmT4thbidPHOg-zYsf5cYq55NM56WkaL5bPrb52zFGSAKdv5YJI-GY8e-IECLQralB4WQxAWPolISOlt3EQy045UfJW2p_V07acmdG8yk2YdW34WhCixvEMcTkAaqIsLbspwJV-s0AS9mkoGzARWdVu6ECQL5QVzznyBmnu9a0onEK5onulzeeCRJu3RjqM6OFPxRTrL7OeZ1B0Evep2imAJa0MvPsHAlDvOJfx2wQKxVY1R4xKJrLKkK3qvqQ_N7HkSeNr-nMSiByEdSHmvBhPpG4pV5FbaZDg_1cdHsiW-g7LytwvaN8oOgR9wA7EfSKl3Nb2h85ZF-oTOQyV0DZSLuFZH9oyRppUpa0RF3vZG1vo1DXWUMWQOz4WYnWXI6UEDvYh-dYygeo67uLgLJmtk99lgJU-zirIzDAa10AyGpxnSa2G5Dg71yUDeUCYtYUd7uBh_Ldudt9osHTLcUeChgcBYbrltQu_MbWh5QU5DFwNKrCnlqhX7y2OyuKulzb9P3ETEXy1xSoEI3w55dG1I51yNLfuV_YKQL9MDZNCrN08L4M=w1280-h854-no);"></div>
    <header class="sidebar-sticky" role="banner">
      <div class="sidebar-about">
        <h1><a id="_title" href="https://iamvon.github.io/">{{ site.title }}</a></h1>
        {{ site.description | truncatewords:50 | markdownify }}
      </div>

      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>

      {% assign author = site.data.authors.first[1] %}
      {% if author.social %}
        <div class="sidebar-social">
          {% include social.html social=author.social %}
        </div>
      {% endif %}
    </header>
  </div>
</div>
