<div id="_yDrawer">
  <div id="_sidebar" class="sidebar">
   <div class="sidebar-bg" style="background-color: rgb(168, 86, 65); background-image: url(https://lh3.googleusercontent.com/A_BkxdXWGOUxF6_ifKWaB6HZYWlRaU-IG7QBoi55JWnLPHpctMhVyy_ygV-yv3heH6eCFCG0p9wwKVmBaEAx1_T_1auXkJT0UWf_Eo2cc3rF_i6yzdCS-YZrFW4eELSFbB7hz29DoC8Zl0ntu3K5sjpZBr7AZe0WHCSLwzJxmv3msy3thz_OtCB_1YGY9nYnDAdzs-kfdyf_OUKHSzPeiU0JMPxmsc-tH6dsW05aDdp1vrr8r_VNOmSS9vTJ_IHHiIL8MU5UK4eF6yCrjymp-zKkf1kr-fANgFaebXJNLHciKd74fTN99_mPiiXhySg4yb6IDjfmCffCM06N6r-zdocNgiZi-UAQQ-GitmngemOayNAtg88Gcs3IlpuY2Qi34y8eHha9b9wQvQbhRfGaGWK7Fbm4xWjEh6WcN0q1CbRJ7iiPyaavFfgOgqZL9u_Zz7KLBmQOgJqAEe1ofSJwyZ9_IQtdcIDekHXv8toKsFuDRAUJcoiAVDcLMnEJ-oDsV5RpQ5mAiT0StX4fqLZaU3M9PVuq-8a-6tFpQqecxN_VL5B9A2talOpzOb3vzCpQ=s660-w660-h440);"></div>
    <header class="sidebar-sticky" role="banner">
      <div class="sidebar-about">
        <h1><a id="_title" href="https://iamvon.github.io/">{{ site.title }}</a></h1>
        {{ site.description | truncatewords:50 | markdownify }}
      </div>

      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>

      {% assign author = site.data.authors.first[1] %}
      {% if author.social %}
        <div class="sidebar-social">
          {% include social.html social=author.social %}
        </div>
      {% endif %}
    </header>
  </div>
</div>
